<div class="container col">
  <%= render 'shared/messages' %>
</div>

<div class="container mt-4">
  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
    <div class="row justify-content-md-center">
      <div class="col-4 mt-5">
        <div class="card text-center mt-5">
          <div class="card-header bg-white text-center">
            <h1 class="font-weight-bold m-3 my-pre-text-brand">Instragram</h1>
          </div>
          <div class="card-body", style="height: 250px;">
            <p class="card-text text-center mt-4"><%= f.email_field :email,
            class: "form-control my-input", placeholder: "Email address" %></p>
            <p class="card-text text-center mt-4"><%= f.password_field :password,
            class: "form-control my-input", placeholder: "Password" %></p>
            <p class="mt-4">
              <%= f.submit "Log In",
              class: "btn btn-primary text-white btn-sm btn-block" %>
            </p>
          </div>
        </div>
          <div class="card text-center mt-3">
            <div class="card-body">
              <p class="card-text">
              Don't have an account? <%= link_to 'Sign Up', signup_path %>
              </p>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
