<div class="container mt-2 mb-0">
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="row justify-content-md-center">
      <div class="col-4 mt-5">
        <%= render 'shared/errors', obj: @user %>
        <div class="card text-center">
          <div class="card-header bg-white text-center">
            <h1 class="font-weight-bold m-3"><%= "#{type}" %></h1>
            <p class="text-muted font-weight-bold m-4"><%= "#{text}" %></p>
          </div>
          <div class="card-body", style="height: 450px;">
            <p class="card-text text-center mt-3"><%= f.text_field :username,
            class: "form-control", placeholder: "Username" %></p>
            <p class="card-text text-center mt-4"><%= f.email_field :email,
            class: "form-control", placeholder: "Email address" %></p>
            <p class="card-text text-center"><%= f.password_field :password,
            class: "form-control mt-4", placeholder: "Password" %></p>
            <p class="card-text text-left text-muted">Upload Profile Picture</p>
            <p class="card-text text-left">
              <%= f.file_field :profile %>
              <%= f.hidden_field :profile_cache %>
            </p>
            <p class="mt-4">
              <%= f.submit "#{name}",
              class: "btn btn-primary text-white btn-sm btn-block" %>
            </p>
            <p class="card-text text-muted p-3">
            <small>By signing up, you agree to our Terms , Data Policy and Cookies Policy .</small>
            </p>
          </div>
        </div>

        <div class="card text-center mt-3">
          <div class="card-body">
            <p class="card-text">
            Have an account? <%= link_to 'Log In', login_path %>
            </p>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
