<%= render 'shared/nav' %>
<%= render 'shared/messages' %>

<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
<div class="text-center m-4">
  <%= image_tag(@user.profile.url, size: "150",
              class: "rounded-circle") if @user.profile? %>
  <div class="text-center mt-4">
    <% if logged_in? && @user == current_user %>
      <%= link_to 'Edit Profile', edit_user_path(@user),
        class: "btn btn-outline-primary px-4 mr-2" %>
      <%= link_to 'Delete Account', user_path(@user), method: :delete, data: { confirm: "Are you sure?" },
        class: "btn btn-outline-danger px-4" %>
    <% end %>
  </div>
</div>

<h3 class="text-center mt-4">Posts</h3>
<%= render 'posts/post' %>
