<div class="container">
  <% @posts.each do |post| %>
    <div class="row justify-content-md-center">
      <div class="col-8">
        <div class="card text-center shadow-sm p-3 mt-3">
          <div class="card-header bg-white text-left text-primary font-weight-bold">
            <h5><%= link_to post.user.username, user_path(post.user) %></h5>
          </div>
          <div class="card-body">
            <p class="card-text text-left"><%= post.caption %></p>
            <p class="card-text text-center"><%= image_tag(post.picture.url, size: "570x300") if post.picture? %></p>
            <%= link_to 'View', post_path(post), class: "btn btn-outline-info px-4" %>
            <% if logged_in? && post.user == current_user %>
              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-primary px-4" %>
              <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure?" },
              class: "btn btn-outline-danger px-4" %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(post.created_at) %> ago,
            edited <%= time_ago_in_words(post.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
