<div class="container ml-5">
  <%= form_with(model: @post, url: posts_path, local: true) do |f| %>
    <div class="row justify-content-md-center">
      <div class="col-7 mt-3 mr-5 ">
        <%= render 'shared/errors', obj: @post %>
        <div class="card text-center">
          <div class="card-header bg-grey text-center font-weight-bold my-font-size">
            <p>Send with the following contents</p>
          </div>
          <div class="card-body" style="height: 25rem;">
            <%= f.hidden_field :caption %>
            <p><%= @post.caption %></p>
            <%= f.hidden_field :picture_cache %>
            <p class="card-text"><%= image_tag(@post.picture.url, size: "570x300") if @post.picture? %></p>
          </div>
          <div class="card-footer">
            <p>
              <%= f.submit "Register", class: "btn btn-outline-primary px-4" %>
              <%= f.submit "Back", name:'back', class: "btn btn-outline-primary px-4" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
